<h1>Playlist Details</h1>

<%= link_to 'Duplicate', playlist_duplicate_path(@current_playlist.identifier) %>

<div>
  <% @playlist_items.each do |item| %>
    <%= image_tag item.track.album.images[0].url %>
    <ul>
      <li>Name: <%= item.track.name %></li>
      <li>Artist: <%= item.track.artists.map(&:name).join(',') %></li>
    </ul>
  <% end %>
</div>