<h1>Playlist Details</h1>

<%= link_to 'Duplicate', playlist_duplicate_path(@current_playlist.identifier) %>

<div>
  <% @current_playlist.tracks.each do |track| %>
    <%= image_tag track.image_url %>
    <ul>
      <li>Name: <%= track.name %></li>
      <li>Artist: <%= track.artist.name %></li>
    </ul>
  <% end %>
</div>